In [1]:
import scikit_posthocs as sp
import numpy as np
import pandas as pd
from scipy import stats
import os
import math as m
pd.options.display.float_format = '{:,.4f}'.format

In [2]:
df = pd.read_csv("machine.txt", encoding='utf-16', sep='\t')
df

   New machine      Old machine
0      42.1000          42.7000
1      41.0000          43.6000
2      41.3000          43.8000
3      41.8000          43.3000
4      42.4000          42.5000
5      42.8000          43.5000
6      43.2000          43.1000
7      42.3000          41.7000
8      41.8000          44.0000
9      42.7000          44.1000

### We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
###Â In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [3]:
df.columns

Index(['New machine', '    Old machine'], dtype='object')

In [4]:
new=np.array(df["New machine"])
old=np.array(df["    Old machine"])

In [5]:
def normality(df):
    test_stat_normality, p_value_normality=stats.shapiro(df)
    print("p value:%.4f" % p_value_normality)
    if p_value_normality <0.05:
        print("Reject null hypothesis >> The data isn't normally distributed")
    else:
        print("Fail to reject null hypothesis >> The data is normally distributed")

In [6]:
def variance_homogeneity(group1, group2):
    test_stat_var, p_value_var= stats.levene(group1,group2)
    print("p value:%.4f" % p_value_var)
    if p_value_var <0.05:
        print("Reject null hypothesis >> if the variances of the samples are different.")
    else:
        print("Fail to reject null hypothesis >> if the variances of the samples are same.")

In [7]:
#check
normality(old)
normality(new)

p value:0.5010
Fail to reject null hypothesis >> The data is normally distributed
p value:0.9676
Fail to reject null hypothesis >> The data is normally distributed

In [8]:
variance_homogeneity(old, new)

p value:0.8795
Fail to reject null hypothesis >> if the variances of the samples are same.

In [9]:
ttest,p_value = stats.ttest_ind(old,new)
print("p value:%.4f" % p_value)
print("since the hypothesis is one sided >> use p_value/2 >> p_value_one_sided:%.4f" %(p_value/2))
if p_value/2 <0.05:
    print("Reject null hypothesis")
else:
    print("Fail to reject null hypothesis")

p value:0.0032
since the hypothesis is one sided >> use p_value/2 >> p_value_one_sided:0.0016
Reject null hypothesis

## There is not evidendence to conclude that the new machine works better than the old one